.footer-container {
  padding-top:15px;
  background: var(--accent);
}
.footer-column h3 {
  color: var(--tertiary-accented);
  font-size: 30px;
  margin-bottom: 15px;
}
.footer-container-links {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: top;
  padding: 40px 30px 0px 30px;
  box-shadow: 0px -5px 10px rgba(255, 255, 255, 0.12);
}
.footer-container-links ul {
  display: flex;
  flex-direction: column;
}
.footer-container-links li {
  margin-bottom: 5px;
}
.footer-container-links li a {
  color: var(--tertiary);
  opacity: 0.7;
}
.footer-container-links li a:hover {
  opacity: 1;
}
.footer-under-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0px 50px;
}
.socials-footer ul {
  display: flex;
  justify-content: left;
  column-gap: 30px;
}
.socials-footer ul li {
  font-size: 35px;
}
.socials-footer ul li svg {
  color: var(--secondary-three);
}
.copyright-footer{
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    margin-top: 20px;
}
.copyright-footer p{
    color:var(--tertiary);
    font-size:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:5px
}
.socials-footer ul li svg:hover {
  color: var(--secondary-two);
  scale: 1.05;
}
.location-footer p {
  color: var(--tertiary);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.location-footer p svg {
  font-size: 35px;
  color: var(--secondary-three);
}
@media only screen and (max-width: 950px) {
  .footer-container {
    padding: 12px 0px;
  }
}
@media only screen and (max-width: 880px) {
  .footer-container-links {
    grid-template-columns: auto auto;
    row-gap: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .footer-container {
    padding: 10px 0px;
  }
}
@media only screen and (max-width: 560px) {
  .footer-container-links {
    grid-template-columns: auto;
  }
  .footer-column h3 {
    text-align: center;
  }
  .footer-container-links li {
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
  }
  .footer-under-links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .socials-footer ul{
    display: flex;
    justify-content: center;
  }
  .copyright-footer{
    padding-bottom: 0px
  }
}
